@model RoleForm
<!-- modal -->
<div id="AccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form asp-action="Edit"  
           class="modal-dialog modal-lg"
          data-ajax="true" data-ajax-loading="#loader" data-ajax-loading-duration="100" data-ajax-method="POST" data-ajax-success="CloseModel"
          >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.RoleID)
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@SysModelRes.EditTitle</h4>
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal"><span class="svg-icon svg-icon-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect><rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect></svg></span></div>
            </div>
            <div class="modal-body">               
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group-custom">
                            @Html.LabelFor(model => model.ArabicRoleName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ArabicRoleName, new { htmlAttributes = new { @class = "form-control has-value" } })
                            
                            <i class="bar"></i>
                            @Html.ValidationMessageFor(model => model.ArabicRoleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group-custom">
                            @Html.LabelFor(model => model.EnglishRoleName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.EnglishRoleName, new { htmlAttributes = new { @class = "form-control has-value" } })
                            
                            <i class="bar"></i>
                            @Html.ValidationMessageFor(model => model.EnglishRoleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                       <div class="col-sm-12 col-xs-12">
                        <div class="form-group-custom">
                            @Html.LabelFor(model => model.DefaultPage, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DefaultPage, new { htmlAttributes = new { @class = "form-control has-value"} })
                            
                            <i class="bar"></i>
                            @Html.ValidationMessageFor(model => model.DefaultPage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light">
                    <i class="fa fa-check"></i>
                    @GeneralRes.BtnEditText
                </button>
                <button type="button" id="BtnClose" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>
                    @GeneralRes.BtnCancelText
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
</div>
<!-- /.modal -->
