@model IEnumerable<EduUruk.Models.Entities.Test>

<h1>Tests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>IsActive</th>
            <th>Mark</th>
            <th>Actions</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.IsActive</td>
                <td>@test.Mark</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@test.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@test.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
