@using EduUruk.Models.Entities
@using EduUruk.Models.Entities;
@using EduUruk.Models.Auth_Tables;
@using Microsoft.AspNetCore.Identity
@model Dictionary<CategoryLibrary, List<Library>>
@inject SignInManager<User> SignInManager

@{
    Layout = "LibraryLayout";
}

 @foreach (var categoryLibraries in Model)
  {
                         
<section >
        <div class="fashion_section">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="container">
                          <h1 class="heading">@categoryLibraries.Key.Name</h1>
                            <div class="fashion_section_2">
                                <div class="row">
                                    @foreach (var item in categoryLibraries.Value)
                                    {
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="box_main">
                                                <h4 class="Book_text">@Html.Raw(@item.Title)</h4>
                                                  @if (@item.PriceType.ToString() == "Free")
                                                    {
                                                    <p class="price_text">Price <span style="color: #262626;">Free</span></p>
                                                    }
                                                    else
                                                    {
                                                    <p class="price_text">Price <span style="color: #262626;"> @item.Price jod</span></p>
                                                    }

                                                <div class="Book_img" data-src-id="@item.FilePath" data-thumb-id="@item.Id" data-description="@item.Title" >
                                                    <img src="@Url.Action("GetImage", "DocumentLibrary", new { id = item.Id })" alt="@item.Title"  />
                                                </div>
                                           @*     <div class="Book_img" data-src-id="@item.FilePath" data-thumb-id="@item.Id" data-description="@item.Title" style="background-color: #f7f5f5; background-image: url('@Url.Action("Download", "DocumentLibrary", new { id = item.Id })'); background-size: 100% 100%;">
                                                    <img src="@Url.Action("GetImage", "DocumentLibrary", new { id = item.Id })" alt="@item.Title" class="mw-100 py-20" style="margin: 71px 0px;height: 140px;" />
                                                </div>*@


                                                <div class="btn_main">
                                                    @if (@item.PriceType.ToString() == "Free")
                                                    {
                                                        <div class="buy_bt">   <a href="@Url.Action("Download", "DocumentLibrary", new { id = item.Id })">Download</a></div>

                                                        <div class="seemore_bt"><a href="#">Add to favairot</a></div>
                                                      

                                                    }else
                                                    {
                                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                                        <div class="seemore_bt"><a href="#">Add to favairot</a></div>

                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!-- More items here -->
                                </div>
                            </div>

                      
                           
                      </div>
                    </div>
                    <!-- More carousel items here -->



                </div>
            </div>
         </div>
</section>
}


@*<div class="content">
    <div class="container">
        <a asp-controller="Document" asp-action="Upload">Add New Document</a>
        <div class="row d-flex flex-row flex-wrap align-items-stretch">

            @foreach (var categoryLibraries in Model)
            {
                <h2>@categoryLibraries.Key.Name</h2>


                @foreach (var item in categoryLibraries.Value)
                {
                    <div class="col-sm-12 col-md-4 col-lg-3 py-3">
                        <div class="border card-shadow text-center">
                            <div class="p-3">
                                <div class="col">
                                    <div data-src-id="@item.FilePath" data-thumb-id="@item.Id" data-description="@item.Title" class="img-thumbnail-ML text-center rounded-4" style="background-color: #f7f5f5; background-image: url('@Url.Action("Download", "DocumentLibrary", new { id = item.Id })'); background-size: 100% 100%;">
                                        <img src="@Url.Action("GetImage", "DocumentLibrary", new { id = item.Id })" alt="@item.Title" class="mw-100 py-20" style="margin: 71px 0px;height: 140px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.Title)
                                </span>
                            </div>

                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.Description)
                                </span>
                            </div>

                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.Type)
                                </span>
                            </div>
                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.StatusDocument)
                                </span>
                            </div>
                            @if (@item.PriceType.ToString() == "Free")
                            {
                                <div class="d-flex px-4 justify-content-start">
                                    <span class="fs-6 fw-bold px-2 text-success">Free</span>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex px-4 justify-content-start">
                                    <span class="fs-6 fw-bold px-2 text-primary">@Html.Raw(@item.Price)</span>
                                </div>
                            }
                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.PriceType)
                                </span>
                            </div>
                            <div class="d-flex px-4 justify-content-start">
                                <span class="fs-6 fw-bold px-2">
                                    @Html.Raw(@item.Price)
                                </span>
                            </div>
                            @if (User.IsInRole("Studant") || User.IsInRole("Admin") )
                            {
                                <div class="d-flex mb-2 me-4 justify-content-end">
                                    <a href="@Url.Action("Download", "DocumentLibrary", new { id = item.Id })" class="btn btn-sm btn-primary">Download</a>
                                </div>
                            }
                          
                        </div>
                    </div>
                }
            }
           
        </div>
    </div>
</div>*@


