
@{
    ViewBag.Title = SysModelRes.PageGroups_PageTitle_Index;
}

<!-- Page-Title -->
@section breadcrumb{
<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
    <!--begin::Item-->
    <li class="breadcrumb-item text-white opacity-75">
        <a href="/Home/Index" class="text-white text-hover-primary">الرئيسية</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-white opacity-75">@ViewBag.Title</li>
</ul>
}
<div class="row">
    <div class="col-12">
        <div class="card card-xl-stretch mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">@ViewBag.Title</span>
                </h3>
                <div class="card-toolbar">
                    <a class="btn btn-sm btn-info create" data-ajax="true" data-ajax-loading="#loader"
                       data-ajax-loading-duration="100" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="FireAccess"
                       data-ajax-update="#AccessSection" href="Create">
                        <i class="fa fa-plus"></i>@GeneralRes.BtnNewText
                    </a>
                </div>
            </div>
            <div class="card-body py-3">
                <div class="card-box table-responsive table-hover table-bordered">
                    <table class="table table-actions-bar table-striped table-bordered dt-responsive nowrap" data-rel="dashbord" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- end row -->

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var tableSettings = {
                url: "../../../Admin/PagesGroups/GetCustoms",
                language: "@GeneralRes.Language",
                sorting: [[0, 'asc']],
                columns: [
                   {
                       'width': "10%",
                       'data': "id",
                       'name': "GroupID",
                       'title': "@SysModelRes.GroupID"
                   },
                   {
                       'width': "65%",
                       'data': "name",
                       'name': "@SysModelRes.GroupNameTextField",
                       'title': "@SysModelRes.GroupName",
                   },
                   {
                       'width': "25%",
                       'orderable': false,
                       'data': 'id',
                       'render': function (id, type, row) {
                           var command = '<div class="action-buttons">';

                           command += '<a class="btn btn-info btn-sm" data-ajax="true" data-ajax-loading="#loader" data-ajax-loading-duration="100" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="FireAccess" data-ajax-update="#AccessSection" href="/Admin/PagesGroups/Edit/' + id + '" ><i class="fa fa-pen"></i> تعديل </a> ';
                             //<i class="md md-edit"></i></a>';

                           command += '<a class="btn btn-danger btn-sm" data-ajax="true" data-ajax-loading="#loader" data-ajax-loading-duration="100" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="FireAccess" data-ajax-update="#AccessSection" href="/Admin/PagesGroups/Delete/' + id + '" ><i class="fa fa-trash"></i> حذف</a>';

                           command += '</div>';
                           return command;
                       }
                   }
                ]
            };
            setTable(tableSettings);
        });
    </script>

}



