@using System.Globalization
@using EduUruk.Web.Helper
@model List<EduUruk.Models.Auth_Tables.User>
@{
    ViewBag.Title = @_localizer["UsersList"];
}

@section Styles {
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <link href="~/assets/css/style.custom.bundle.rtl.css" rel="stylesheet" type="text/css" />

    <style>
        .image-input-placeholder {
            background-image: url('/assets/media/svg/files/blank-image.svg');
        }
    </style>
}

<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-wrap">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1 mb-2 mb-md-0">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-users-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="@_localizer["UserSearch"]" />
                </div>
                <!--end::Search-->
            </div>
            <!--end::Wrapper-->
        </div>
        <div class="card-toolbar">
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-wrap">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-start" data-kt-users-table-toolbar="base">


                    <!--begin::Filter-->
                    <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        @_localizer["Filter"]
                    </button>
                    <!--begin::Menu 1-->
                    <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                        <!--begin::Header-->
                        <div class="px-7 py-5">
                            <div class="fs-5 text-dark fw-bold">@_localizer["FilterOptions"]</div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Separator-->
                        <div class="separator border-gray-200"></div>
                        <!--end::Separator-->
                        <!--begin::Content-->
                        <div class="px-7 py-5" data-kt-users-table-filter="form">
                            <!--begin::Input group-->
                            @*<div class="mb-10">
                                    <label class="form-label fs-6 fw-semibold">@_localizer["Role"]:</label>
                                    <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="@_localizer["SelectOption"]" data-allow-clear="true" data-kt-users-table-filter="role" data-hide-search="true">
                                        <option></option>
                                        <option value="Manager">@_localizer["Manager"]</option>
                                        <option value="Org">@_localizer["Org"]</option>
                                        <option value="Admin">@_localizer["Admin"]</option>
                                        <option value="Minister">@_localizer["Minister"]</option>
                                    </select>
                                </div>*@
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-semibold">@_localizer["UserIsActive"]:</label>
                                <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="@_localizer["SelectOption"]" data-allow-clear="true" data-kt-users-table-filter="is_active" data-hide-search="true">
                                    <option></option>
                                    <option value="true">@_localizer["UserActive"]</option>
                                    <option value="false">@_localizer["UserNotActive"]</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary fw-semibold me-2 px-6" data-kt-menu-dismiss="true" data-kt-users-table-filter="filter">@_localizer["Apply"]</button>
                                <button type="reset" class="btn btn-light btn-active-light-primary fw-semibold px-6" data-kt-menu-dismiss="true" data-kt-users-table-filter="reset">@_localizer["Reset"]</button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Menu 1-->
                    <!--end::Filter-->
                    <!--begin::Add User-->
                    <button type="button" name="add_new_user" class="btn btn-primary" data-bs-toggle="tooltip" title="@_localizer["UserAddNew"]">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        @_localizer["AddNew"]
                    </button>


                    <!--end::Add User-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Wrapper-->
        </div>
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body">
        <!--begin::CRUD-->
        <div class="py-5">
            <!--begin::Datatable-->
            <table id="kt_table_users" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th>@_localizer["UserFullName"]</th>
                        <th>@_localizer["Roles"]</th>
                        <th>@_localizer["UserPhone"]</th>
                        <th>@_localizer["UserIsActive"]</th>
                        <th>@_localizer["UserAddDate"]</th>
                        <th class="text-end min-w-100px"></th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 fw-bold">
                </tbody>
            </table>
            <!--end::Datatable-->
        </div>
        <!--end::CRUD-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->
<div class="modal fade" id="kt_modal_user" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-900px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder" data-kt-user="title">@_localizer["UserAddNew"]</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <button id="kt_modal_user_close" class="btn btn-sm btn-icon btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </button>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body py-lg-10 px-lg-10">
                <div class="w-100">

                    <!--begin::Input group-->
                    <div class="modal-body py-lg-10 px-lg-10">
                        <div class="w-100">

                            <!--begin::Input group-->
                            <div class="row g-10">
                                  <div class="col-6 mt-3">
                                    <!--begin::Input group-->
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["ArabicUserName"]</span>
                                            <input type="hidden" name="user_id" value="" />
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div class="flex-grow-1">
                                            <input class="form-control form-control-solid" name="user_arabic" placeholder="@_localizer["ArabicUserName"]" />
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                  <div class="col-6 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["EnglishUserName"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div class="flex-grow-1">
                                            <input class="form-control form-control-solid" name="user_english" placeholder="@_localizer["EnglishUserName"]" />
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                  <div class="col-6 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["UserName"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div class="flex-grow-1">
                                            <input class="form-control form-control-solid" name="user_name" placeholder="@_localizer["UserName"]" />
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>


                                <div class="col-6 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span>@_localizer["Password"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div class="flex-grow-1">
                                            <input class="form-control form-control-solid" name="user_password" placeholder="@_localizer["Password"]" />
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["Mobile"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div class="flex-grow-1">
                                            <input class="form-control form-control-solid" name="user_mobile" placeholder="@_localizer["Mobile"]" />
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                  <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="d-flex fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["Email"]</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <div class="flex-grow-1">
                                        <input class="form-control form-control-solid" name="user_email" placeholder="@_localizer["Email"]" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                </div>
                                  <div class="col-6 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span class="required">@_localizer["Department"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Solid input group style-->
                                        <div class="input-group input-group-solid">
                                            <div class="flex-grow-1">
                                                <select name="guest_orgnaization" class="form-select form-select-solid rounded-end-0 border-end" data-control="select2" data-dropdown-parent="#kt_modal_user" data-placeholder="@_localizer["Department"]">
                                                </select>
                                            </div>
                                             <button name="add_new_orgnaization" type="button" class="btn btn-icon btn-light btn-color-muted btn-active-success">
                                            <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr087.svg-->
                                            <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />
                                            <rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
                                            </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            </button>
                                        </div>
                                        <!--end::Solid input group style-->
                                    </div>
                                </div>


                                <div class="col-6 mt-3">
                                    <div class="fv-row">
                                
                                        <div class="form-group col-md-2 mb-3 mt-3">
                                               <div class="menu-item px-3">
                                                      <div class="menu-content px-3">
                                                                <label class="form-check form-switch form-check-custom form-check-solid">
                                                        <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="user_active" />'
                                                        <span class="form-check-label text-muted fs-7">  @_localizer["UserIsActive"]</span>'
                                                                 </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>



                                <div class="col-8 mt-3">
                                    <div class="fv-row">
                                        <!--begin::Label-->
                                        <label class="d-flex fs-5 fw-bold mb-2">
                                            <span >@_localizer["Roles"]</span>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Solid input group style-->
                                        <div class="input-group input-group-solid">
                                            <div class="flex-grow-1">
                                                <select name="user_roles"  class="form-control" multiple="multiple" class="form-select form-select-solid rounded-end-0 border-end" data-control="select2" data-dropdown-parent="#kt_modal_user" data-placeholder="@_localizer["Roles"]">
                                                </select>
                                            </div>
                                          
                                        </div>
                                        <!--end::Solid input group style-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Input group-->

                        </div>
                    </div>
                    <!--end::Input group-->

                </div>
            </div>
            <!--end::Modal body-->
            <!--begin::Modal footer-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_user_cancel" class="btn btn-light me-3">@_localizer["Cancel"]</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="button" id="kt_modal_user_submit" class="btn btn-primary">
                    <span class="indicator-label">@_localizer["Add"]</span>
                    <span class="indicator-progress">
                        @_localizer["PleaseWait"]
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="button" id="kt_modal_user_edit" class="btn btn-success">
                    <span class="indicator-label">@_localizer["Save"]</span>
                    <span class="indicator-progress">
                        @_localizer["PleaseWait"]
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Button-->
            </div>
            <!--end::Modal footer-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--begin::Modal - Add User-->
<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-800px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_user_header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">@_localizer["UserAddNew"]</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-3 my-5">



                <!--begin::Form-->
                <form id="kt_modal_add_user_form" class="form" action="#">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                        <!--begin::Row-->
                        <div class="row g-8 mb-8">
                            <div class="col-lg-8 mb-8">
                                <div class="col-lg-12 mb-8">
                                    <label class="fs-6 form-label fw-bold text-dark">@_localizer["UserFullNameAr"]</label>
                                    <input type="text" class="form-control form-control form-control-solid" name="user_fullname_ar" placeholder="@_localizer["UserFullNameAr"]" />
                                </div>
                                <div class="col-lg-12">
                                    <label class="fs-6 form-label fw-bold text-dark">@_localizer["UserFullNameEn"]</label>
                                    <input type="text" class="form-control form-control form-control-solid" name="user_fullname_en" placeholder="@_localizer["UserFullNameEn"]" />
                                </div>
                            </div>
                            <div class="col-lg-4 ps-20">
                                <!--begin::Label-->
                                <label class="d-block fw-semibold fs-6 mb-5">@_localizer["Avatar"]</label>
                                <!--end::Label-->
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-125px h-125px"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="@_localizer["ChangeAvatar"]">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="avatar_remove" />
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="@_localizer["CancelAvatar"]">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="@_localizer["RemoveAvatar"]">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">@_localizer["AllowedFiles"]</div>
                                <!--end::Hint-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-8 mb-8">
                            <div class="col-lg-6">
                                <label class="fs-6 form-label fw-bold text-dark">@_localizer["Email"]</label>
                                <input type="text" class="form-control form-control form-control-solid" name="user_email" placeholder="@_localizer["Email"]" />
                            </div>
                            <div class="col-lg-6">
                                <label class="fs-6 form-label fw-bold text-dark">@_localizer["Mobile"]</label>
                                <input type="text" class="form-control form-control form-control-solid" name="user_mobile" placeholder="@_localizer["Mobile"]" />
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-8 mb-8">
                            <div class="col-lg-4">
                                <label class="fs-6 form-label fw-bold text-dark">@_localizer["Username"]</label>
                                <input type="text" class="form-control form-control form-control-solid" name="user_username" placeholder="@_localizer["Username"]" />
                            </div>
                            <div class="col-lg-4">
                                <label class="fs-6 form-label fw-bold text-dark">@_localizer["Password"]</label>
                                <input type="text" class="form-control form-control form-control-solid" name="user_password" placeholder="@_localizer["Password"]" />
                            </div>
                            <div class="col-lg-4">
                                <label class="fs-6 form-label fw-bold text-dark">@_localizer["UserIsActive"]</label>
                                <div class="form-check form-switch form-check-custom form-check-solid mt-1">
                                    <input class="form-check-input" type="checkbox" id="user_is_active" name="user_is_active" />
                                    <label class="form-check-label" for="user_is_active">@_localizer["UserActive"]</label>
                                </div>
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-8 mb-8">
                            <div class="col-lg-12">
                                <label class="fs-6 fw-bold required mb-2">@_localizer["Roles"]</label>
                                <input class="form-control form-control-solid" value="" id="user_roles" name="user_roles" placeholder="@_localizer["Roles"]" />
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Scroll-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">@_localizer["Cancel"]</button>
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                            <span class="indicator-label">@_localizer["Add"]</span>
                            <span class="indicator-progress">
                                @_localizer["PleaseWait"]...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->



            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add User-->
<!--begin::Modal - New Orgnaization-->
<div class="modal fade" id="kt_modal_add_new_orgnaization" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-900px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2>@_localizer["DepartmentAddNew"]</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <button id="kt_modal_add_new_orgnaization_close" class="btn btn-sm btn-icon btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </button>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body py-lg-10 px-lg-10">
                <div class="row g-10">
                    <!--begin::Input group-->
                    <div class="fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                            <span class="required">@_localizer["DepartmentName"]</span>
                        </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <div class="flex-grow-1">
                            <input type="text" class="form-control form-control-solid" name="add_orgnaization_name" placeholder="@_localizer["DepartmentName"]" />
                        </div>
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                 @*   <div class="fv-row">
                        <!--begin::Label-->
                        <label class="d-flex fs-5 fw-bold mb-2">
                            <span class="required">@_localizer["OrgnaizationInformation"]</span>
                        </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <div class="flex-grow-1">
                            <textarea class="form-control form-control-solid" name="add_orgnaization_information" placeholder="@_localizer["OrgnaizationInformation"]"></textarea>
                        </div>
                        <!--end::Input-->
                    </div>*@
                    <!--end::Input group-->
                </div>
            </div>
            <!--end::Modal body-->
            <!--begin::Modal footer-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_new_orgnaization_cancel" class="btn btn-light me-3">@_localizer["Cancel"]</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="button" id="kt_modal_add_new_orgnaization_submit" class="btn btn-primary">
                    <span class="indicator-label">@_localizer["Add"]</span>
                    <span class="indicator-progress">
                        @_localizer["PleaseWait"]
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Button-->
            </div>
            <!--end::Modal footer-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
@section Scripts {
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <script src="/assets/js/custom/apps/users/list.js"></script>
    @*<script src="/assets/js/custom/apps/users/user-add.js"></script>*@
}

